.btn-bg-1 {
  background-color: #b68c5a;
  color: #fff;
  text-decoration: none;
  border-radius: 0;
}
.btn-bg-1:hover {
  color: #fff;
}
.btn-bg-1 a {
  text-decoration: none;
  color: #fff;
}

.el-link.btn-bg-2, .el-button.btn-bg-2 {
  background-color: #b68c5a !important;
  color: #fff !important;
  text-decoration: none;
  border-radius: 0;
}
.el-link.btn-bg-2:hover, .el-button.btn-bg-2:hover {
  background-color: #162542 !important;
  color: #fff !important;
}
.el-link.btn-bg-2 a, .el-button.btn-bg-2 a {
  text-decoration: none;
  color: #fff;
}

.btn-bg-4 {
  background-color: #fff;
  color: #162542;
  text-decoration: none;
  border-radius: 10px;
}
.btn-bg-4:hover {
  color: #162542;
}
.btn-bg-4 a {
  text-decoration: none;
  color: #162542;
}

.btn-bg-t {
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
}
.btn-bg-t:hover {
  color: #fff;
}
.btn-bg-t a {
  text-decoration: none;
  color: #fff;
}

.back--top {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 15px 20px;
  background-color: #162542;
  color: #fff;
  border-radius: 50%;
  z-index: 50;
}
.back--top:hover {
  color: #fff;
}
.back--top i {
  transform: rotate(90deg);
}

.social {
  list-style: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.social li {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #ebedef;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social li:hover {
  background-color: #b68c5a;
}
.social li:hover i {
  color: #fff;
}
.social li a {
  text-decoration: none;
  color: #162542;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.social li a i {
  font-size: 20px;
}

.social--dark li {
  background-color: #b68c5a;
  border: none;
}
.social--dark li i {
  color: #fff;
}

.btn-qty-1 {
  display: flex;
  height: 40px;
}
.btn-qty-1 button {
  height: 100%;
  background-color: #b68c5a;
  color: #fff;
}
.btn-qty-1 button:hover {
  color: #fff;
}
.btn-qty-1 input {
  text-align: center;
  width: 60px;
  height: 100%;
}

#btnWhatsapp {
  position: fixed;
  background-color: #25D366;
  color: #fff;
  left: 0;
  bottom: 0;
  margin: 20px;
  padding: 0 12px;
  z-index: 49;
  font-size: 2.5rem;
  border-radius: 50%;
}

.btnv.active {
  background-color: #b68c5a;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}
.btnv.active:hover {
  color: #fff;
}
.btnv.active a {
  text-decoration: none;
  color: #fff;
}

.section--title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #162542;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.section--subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #162542;
  text-align: center;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
}

.custom--range {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  cursor: pointer;
}
.custom--range::-webkit-slider-thumb {
  background: #b68c5a;
}
.custom--range:focus::-webkit-slider-thumb {
  background-color: #b68c5a;
  box-shadow: none;
}
.custom--range::-webkit-slider-runnable-track {
  background: #162542;
  height: 0.5rem;
}

.slider--content {
  height: 100px;
  width: 100%;
  position: relative;
}

.slider--inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  display: flex;
  justify-content: center;
}
.slider--inner::-webkit-scrollbar {
  display: none;
}

.slider--item {
  margin: 0 10px;
  height: 100%;
  flex: 0 0 auto;
  padding: 5px;
  width: 100px;
}
.slider--item img {
  width: 100%;
  height: 100%;
}

.slider--controls {
  height: 100%;
  font-size: 20px;
  color: #162542;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px;
  top: 0;
  z-index: 1;
  cursor: pointer;
}
.slider--controls i {
  padding: 5px 8px;
  background-color: #162542;
  color: #fff;
  border-radius: 50%;
}

.slider--control-left {
  left: 0;
}

.slider--control-right {
  right: 0;
}

.link-hover-none:hover {
  color: #162542;
}

.fs-11 {
  font-size: 4rem;
}

.t-color-1 {
  color: #b68c5a !important;
}

.t-color-2 {
  color: #162542 !important;
}

.t-color-3 {
  color: #777777 !important;
}

.t-color-4 {
  color: #fff !important;
}

.t-color-5 {
  color: #BFBDC1 !important;
}

.t-color-h-2:hover {
  color: #b68c5a;
}

.bg-color-1 {
  background-color: #b68c5a !important;
}

.bg-color-2 {
  background-color: #162542 !important;
}

.bg-color-3 {
  background-color: #777777 !important;
}

.bg-color-4 {
  background-color: #162542 !important;
}

.c-p {
  cursor: pointer;
}

.fs-1 .img--contain img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img--cover img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll-y {
  overflow-y: scroll;
  max-height: 60vh;
}

.scrolly {
  overflow-y: scroll;
  height: 200px;
}

.scrollx {
  overflow-x: scroll;
}

.icon-mobile {
  height: 50px;
  width: 50px;
  display: none;
}
.icon-mobile img {
  width: 100%;
  height: 100%;
}

.cartbar--mask {
  position: fixed;
  height: 100%;
  min-width: 100%;
  background-color: transparent;
  top: 0;
  transition: background-color 0.3s ease;
  animation-name: hideMask;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.cartbar--elements {
  position: fixed;
  width: 400px;
  height: 100%;
  background-color: #fff;
  z-index: 55;
  top: 0;
  right: -100vw;
  transition: all 0.5s ease;
}

.navmobile--mask {
  position: fixed;
  height: 100%;
  min-width: 100%;
  background-color: transparent;
  top: 0;
  transition: background-color 0.3s ease;
  animation-name: hideMask;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

.navmobile--elements {
  position: fixed;
  width: 400px;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
  z-index: 55;
  top: 0;
  right: -100%;
  transition: all 0.5s ease;
}

.navmobile-links {
  padding: 0 30px 30px;
  list-style: none;
}

.navmobile-link {
  width: 100%;
  padding: 1rem 0.5rem;
  position: relative;
}
.navmobile-link a {
  color: #162542;
  display: block;
}

.navmobile-link.accordion {
  width: 100%;
  padding: 0;
  border-width: 0;
}
.navmobile-link.accordion .accordion-item {
  background-color: transparent;
}
.navmobile-link.accordion .accordion-body a, .navmobile-link.accordion .accordion-body a:hover, .navmobile-link.accordion .accordion-body a:focus, .navmobile-link.accordion .accordion-body a:active {
  color: #162542;
}
.navmobile-link.accordion .accordion-body {
  background-color: #fff;
  color: #162542;
  border: none !important;
}
.navmobile-link.accordion .accordion-body ul {
  padding: 0 0 0 1rem;
  list-style: none;
}
.navmobile-link.accordion .accordion-button {
  background-color: #fff;
  padding: 0;
  color: #162542;
  padding: 1rem 0.5rem;
  position: relative;
  border: none !important;
}
.navmobile-link.accordion .accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.navmobile-link.accordion .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.navmobile--header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  margin-bottom: 30px;
  height: 5.5rem;
}

.navmobile--title img {
  width: 200px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cartbar--header {
  background-color: #162542;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  margin-bottom: 30px;
}

.cartbar--title {
  font-weight: bold;
}
.cartbar--title span {
  padding: 0.1rem 0.3rem;
  background-color: #b68c5a;
  border-radius: 50%;
}

.cartbar--inner {
  max-height: 40vh;
  padding: 0 30px 30px;
  overflow: auto;
}

.cartbar--info {
  margin-top: 30px;
  height: 40vh;
  padding: 0 30px 30px;
}

.info--total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.info--total span:nth-of-type(2) {
  font-weight: bold;
  font-size: 20px;
}

.cartlist--items {
  list-style: none;
  padding: 0;
}

.cartlist--item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}
.cartlist--item a {
  margin-right: 15px;
}
.cartlist--item a img {
  height: 80px;
  width: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.item--info {
  width: 200px;
}
.item--info a {
  text-align: start;
  height: 20px;
  word-wrap: break-word;
  font-weight: bold;
  line-height: 1.2;
  width: 100%;
  color: #162542;
}

.item--price {
  font-weight: bold;
  color: #b68c5a;
}

.item--qty {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}

.qty--btns {
  display: flex;
  height: 30px;
}
.qty--btns button {
  border: 1px solid #BFBDC1;
  background-color: #fff;
  color: #162542;
  width: 30px;
  transition: all 0.3s ease;
}
.qty--btns button:hover {
  background-color: #b68c5a;
  color: #fff;
  transition: all 0.3s ease;
}
.qty--btns input {
  text-align: center;
  width: 30px;
  border: 1px solid #BFBDC1;
  color: #162542;
}
.qty--btns input:focus {
  outline: none;
}

#btnCart {
  position: relative;
}
#btnCart div {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 10px;
  border-radius: 50%;
  top: 20px;
  right: 10px;
  background-color: #b68c5a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#closeCart {
  cursor: pointer;
}

.delItem {
  cursor: pointer;
}

.cartbar.active .cartbar--mask {
  background-color: rgba(22, 37, 66, 0.8);
  transition: background-color 0.3s ease;
  animation-name: showMask;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.cartbar.active .cartbar--elements {
  right: 0;
  transition: all 0.5s ease;
}

.navmobile.active .navmobile--mask {
  background-color: rgba(22, 37, 66, 0.8);
  transition: background-color 0.3s ease;
  animation-name: showMask;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}
.navmobile.active .navmobile--elements {
  right: 0;
  transition: all 0.5s ease;
}

@keyframes hideMask {
  from {
    z-index: 50;
  }
  to {
    z-index: -50;
  }
}
@keyframes showMask {
  from {
    z-index: -50;
  }
  to {
    z-index: 50;
  }
}
.popup {
  width: 300px;
  height: 125px;
  position: fixed;
  right: -100%;
  bottom: 10px;
  background-color: #fff;
  border: 1px solid #162542;
  padding: 10px;
  z-index: 100;
  transition: 0.3s;
}
.popup .popup-close {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
}
.popup .popup-info {
  display: flex;
  height: 50px;
  font-size: 15px;
  overflow: hidden;
}
.popup .popup-info a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.popup .popup-info p {
  margin: 0;
}
.popup .popup-info img {
  margin-right: 10px;
  width: 50px;
  height: 100%;
}

.popup.active {
  right: 10px;
  transition: 0.3s;
}

.login {
  width: 400px;
  margin: 50px 0;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.login form {
  width: 100%;
  padding: 20px;
}
.login form h2 {
  font-size: 25px;
}

/*
#divLoading{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    top:0;
    left:0;
    z-index: 9999999;
    justify-content: center;
    align-items: center;
    div{
        height: 200px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#424242;
        font-size: 20px;
        border-radius: 50%;
        box-shadow: 0 0 5px #FFF;
        animation: ring 2s linear infinite;
        @keyframes ring {
            0%{
                transform: rotate(0deg);
                box-shadow: 1px 2px 5px $color1;
            }
            50%{
                transform: rotate(180deg);
                box-shadow: 1px 2px 5px $color2;
            }
            75%{
                transform: rotate(270deg);
                box-shadow: 1px 2px 5px $color3;
            }
            100%{
                transform: rotate(360deg);
                box-shadow: 1px 2px 5px $color1;
            }
        }
    }
    span{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#424242;
        font-size: 20px;
        animation: textAnim 2s linear infinite;
        @keyframes textAnim {
            0%{
                color:#424242; 
            }50%{
                color:#fff;
            }100%{
                color:#424242;
            }
        }
    }
}*/
.loading {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  z-index: 9999999;
}
.loading .loading-door {
  background-color: #000 !important;
  position: absolute;
  width: 50%;
  height: 100%;
}
.loading .loading-door-left {
  top: 0;
  left: 0;
  width: 50%;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: 1s;
}
.loading .loading-door-right {
  top: 0;
  right: 0;
  width: 50%;
  animation: slideRight 0.5s ease forwards;
  animation-delay: 1s;
}
.loading .loading-bar {
  background-color: #fff !important;
  position: absolute;
  z-index: 1001;
  height: 10px;
  width: 2px;
  left: 50%;
  top: 50%;
  transition: all 0.5s ease-in;
  transform: translate(-50%, -50%);
  animation: loadingAnimation 1s ease-in forwards;
}

@keyframes slideLeft {
  to {
    width: 0%;
    height: 100%;
    display: none;
  }
}
@keyframes slideRight {
  to {
    width: 0%;
    height: 100%;
    display: none;
  }
}
@keyframes loadingAnimation {
  0% {
    height: 10%;
  }
  50% {
    height: 50%;
    width: 2px;
  }
  60% {
    width: 1px;
    height: 70%;
  }
  80% {
    width: 0.5px;
    height: 80%;
  }
  90% {
    width: 0.5px;
    height: 100%;
    opacity: 0;
  }
  100% {
    width: 0.5px;
    height: 100%;
    display: none;
  }
}
#filter {
  display: none;
}

.filter-options-overlay {
  display: none;
  position: fixed;
  z-index: 9997;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.151);
}

.table-cart tbody tr td {
  vertical-align: middle;
}

footer {
  height: 100%;
  min-width: 100%;
}
footer .logo {
  display: block;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
footer .logo img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.footer--info {
  height: 100%;
  width: 100%;
  padding: 2.5rem;
}

.footer--contact {
  display: flex;
  gap: 0.5rem;
}
.footer--contact i {
  color: #b68c5a;
  font-size: 1.2rem;
}
.footer--contact p {
  color: #fff;
  word-break: break-word;
}

.footer--data ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}
.footer--data ul li {
  margin-bottom: 1.2rem;
  color: #fff;
}
.footer--data ul li .el-link {
  color: #fff;
}
.footer--data p {
  margin-top: 1rem;
  color: #fff;
}

.footer--title {
  position: relative;
  display: inline;
}
.footer--title h3 {
  font-size: 1.5rem;
  color: #b68c5a;
  display: inline;
  width: 100%;
}

.footer--subscribe {
  display: flex;
}
.footer--subscribe input {
  border-radius: 10px 0 0 10px;
}
.footer--subscribe button {
  border-radius: 0 10px 10px 0;
  background-color: #b68c5a;
  color: #fff;
}
.footer--subscribe button:hover {
  color: #fff;
}

.footer--bar {
  background-color: #162542;
  color: #fff;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  flex-wrap: wrap;
}
.footer--bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer--bar ul li {
  margin-right: 10px;
}
.footer--bar ul li a {
  color: #fff;
}
.footer--bar p {
  margin: 0;
}

.title--decoration {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: flex;
  width: 100%;
}
.title--decoration span {
  height: 2px;
}
.title--decoration span:nth-of-type(1) {
  width: 40%;
  background-color: #b68c5a;
}
.title--decoration span:nth-of-type(2) {
  width: 10%;
  background-color: #fff;
}
.title--decoration span:nth-of-type(3) {
  width: 20%;
  background-color: #b68c5a;
}
.title--decoration span:nth-of-type(4) {
  width: 10%;
  background-color: #fff;
}
.title--decoration span:nth-of-type(5) {
  width: 20%;
  background-color: #b68c5a;
}

.review-stars i {
  font-size: 0.75rem;
  color: #b68c5a;
}

.review-measure i {
  font-size: 1rem;
  color: #b68c5a;
}

.review-rate button {
  background-color: unset;
  border: none;
  color: #b68c5a;
}

.comment-list {
  list-style: none;
  padding: 0;
  padding-top: 10px;
}
.comment-list .comment-info {
  height: 50px;
}
.comment-list .comment-info img {
  border-radius: 50%;
  height: 100%;
}

.content-site {
  padding: 0 7rem;
}

.content-description img {
  max-width: 100%;
  height: auto;
}
.content-description p {
  font-size: 18px;
}
.content-description ul {
  font-size: 18px;
}
.content-description ol {
  font-size: 18px;
}

.payment__methods {
  border-radius: 10px;
  border: 1px solid #162542;
  text-align: center;
}
.payment__methods ul {
  padding: 0 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.payment__methods ul img {
  height: 40px;
  width: 40px;
}
.payment__methods ul li {
  padding: 0 0.5rem;
}

.search {
  position: fixed;
  height: 100%;
  min-width: 100%;
  top: -100%;
  background-color: rgba(22, 37, 66, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.search form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding: 0 2rem;
  z-index: 101;
}
.search form input {
  height: 100%;
  width: 100%;
  border-radius: 10px 0 0 10px;
}
.search form button {
  border-radius: 0 10px 10px 0;
  background-color: #b68c5a;
  color: #fff;
}
.search form button:hover {
  color: #fff;
}
.search span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #fff;
  cursor: pointer;
}

.search.active {
  top: 0;
}

#btnNav {
  display: none;
}

#closeNav {
  cursor: pointer;
}

.new-header {
  position: sticky;
  top: 0;
  z-index: 30;
}

.new-navbar-links {
  display: flex;
}

.new-navbar {
  height: 5.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #162542 !important;
  color: #fff !important;
  padding: 0;
  margin: 0;
}

.new-navbar-logo {
  height: 100%;
  display: flex;
  position: relative;
  background-color: #162542 !important;
  color: #fff !important;
}
.new-navbar-logo img {
  position: relative;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.el-menu--horizontal.el-menu {
  border: none;
}

.el-menu {
  height: 100%;
  background-color: #162542 !important;
  color: #fff !important;
}

.el-menu-item, .el-menu--horizontal > .el-menu-item {
  border: none;
  font-size: 1em;
  color: #fff !important;
}
.el-menu-item .el-link, .el-menu--horizontal > .el-menu-item .el-link {
  font-size: 1em !important;
}
.el-menu-item:hover, .el-menu--horizontal > .el-menu-item:hover {
  background-color: #162542 !important;
  color: #b68c5a !important;
}

.el-menu-item.is-active, .el-menu--horizontal > .el-menu-item.is-active {
  background-color: #162542 !important;
  color: #b68c5a !important;
  border: none;
}

.el-sub-menu {
  background-color: #162542 !important;
}
.el-sub-menu .el-sub-menu__title {
  font-size: 1em;
  color: #fff !important;
}
.el-sub-menu .el-sub-menu__title:hover {
  background-color: #162542 !important;
  color: #b68c5a !important;
}

.el-menu.el-menu--popup {
  background-color: #fff !important;
}
.el-menu.el-menu--popup .el-menu-item {
  font-size: 1.2em;
  color: #162542 !important;
}
.el-menu.el-menu--popup .el-menu-item .el-link {
  width: 100%;
  justify-content: start;
  color: #162542 !important;
}
.el-menu.el-menu--popup .el-menu-item:hover {
  background-color: #b68c5a !important;
  color: #fff !important;
}
.el-menu.el-menu--popup .el-menu-item:hover .el-link {
  color: #fff !important;
}

.el-carousel__container {
  min-height: 90vh;
}

.el-carousel__item {
  min-height: 100%;
}

.carousel-cover {
  width: 100%;
}

.carousel-item-container {
  background-color: rgba(22, 37, 66, 0.4862745098);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.carousel-item-content {
  padding-left: 5rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

.new-service-card {
  display: flex;
  align-items: center;
}
.new-service-card .new-service-main:first-of-type {
  padding: 0.7rem;
  border-radius: 50%;
  background-color: #b68c5a !important;
}
.new-service-card .new-service-main:first-of-type i {
  color: #fff !important;
}
.new-service-card .new-service-main:last-of-type .el-link {
  justify-content: start;
  color: #162542 !important;
}
.new-service-card .new-service-main:last-of-type .el-link:hover {
  color: #b68c5a !important;
}

.service-card .service-img {
  height: 250px;
  overflow: hidden;
}
.service-card .service-img img {
  width: 100%;
}
.service-card .service-info .el-link {
  color: #162542;
}

.section-about-img {
  height: 550px;
  overflow: hidden;
}
.section-about-img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.card-product .card-product-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 200px;
}

.contact-form {
  height: 700px;
}

.contact-form-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.team-card {
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.team-card:hover h4 {
  color: #b68c5a !important;
  transition: all 0.3s ease;
}

.team-img {
  height: 330px;
  overflow: hidden;
}
.team-img img {
  width: 100%;
}

.team-info {
  position: relative;
  width: 80%;
  background-color: #fff;
  bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.testimonial {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.testimonial img {
  width: 100%;
}

.testimonial-container {
  display: flex;
  align-items: center;
  background-color: rgba(22, 37, 66, 0.8431372549);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.testimonial-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
}
.testimonial-info .testimonial-titles {
  height: 100%;
}
.testimonial-info .testimonial-img {
  border: 1px solid transparent;
}
.testimonial-info .testimonial-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.testimonial-info .testimonial-description {
  text-align: center;
}

.carousel-testimonial {
  border: 30px solid rgba(49, 67, 102, 0.2745098039);
}

.team-card {
  position: relative;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.team-card:hover h4 {
  color: #b68c5a !important;
  transition: all 0.3s ease;
}

.team-img {
  height: 330px;
  overflow: hidden;
}
.team-img img {
  width: 100%;
}

.team-info {
  position: relative;
  width: 80%;
  background-color: #fff;
  bottom: 30px;
}

.blog-aside .el-input__wrapper {
  background-color: #ebedef;
}
.blog-aside ul li .el-link {
  color: #162542;
}

.blog .blog-img {
  height: 500px;
}

.blog-card h3, .blog-card h2 {
  color: #162542;
  transition: all 0.2s ease-in;
}
.blog-card:hover h3, .blog-card:hover h2 {
  color: #b68c5a;
  transition: all 0.2s ease-in;
}

.blog-img {
  height: 350px;
  overflow: hidden;
}
.blog-img img {
  width: 100%;
}

.blog-detail {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}
.blog-detail img {
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}

.page-cover {
  height: 350px;
  position: relative;
  overflow: hidden;
}
.page-cover img {
  width: 100%;
}

.page-cover-content {
  position: absolute;
  background-color: rgba(22, 37, 66, 0.8431372549);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.page-cover-content ul {
  display: flex;
  list-style: none;
  padding: 0;
  font-weight: bold;
}
.page-cover-content ul li .el-link {
  font-weight: bold;
  color: #fff;
  font-size: 1em;
}

.nav-aside {
  position: sticky;
  top: 5.6rem;
  z-index: 29;
}

.el-menu--vertical .el-sub-menu__title, .el-menu--vertical .el-sub-menu.is-active .el-sub-menu__title {
  color: #162542 !important;
  background-color: #fff !important;
  border: 0.1px solid #BFBDC1;
  white-space: wrap !important;
  line-height: normal;
}
.el-menu--vertical .el-sub-menu__title .el-link, .el-menu--vertical .el-sub-menu.is-active .el-sub-menu__title .el-link {
  color: #162542;
}
.el-menu--vertical .el-sub-menu__title:hover, .el-menu--vertical .el-sub-menu.is-active .el-sub-menu__title:hover {
  background-color: #b68c5a !important;
  color: #fff !important;
}
.el-menu--vertical .el-sub-menu__title:hover .el-link, .el-menu--vertical .el-sub-menu.is-active .el-sub-menu__title:hover .el-link {
  color: #fff;
}
.el-menu--vertical .el-sub-menu .el-menu-item {
  height: auto;
  line-height: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}
.el-menu--vertical .el-menu {
  background-color: #fff !important;
}
.el-menu--vertical .el-menu-item {
  color: #162542 !important;
  white-space: wrap !important;
  font-weight: normal;
  font-size: 0.9em;
}
.el-menu--vertical .el-menu-item .el-link {
  color: #162542 !important;
}
.el-menu--vertical .el-menu-item:hover {
  background-color: #b68c5a !important;
  color: #fff !important;
}
.el-menu--vertical .el-menu-item:hover .el-link {
  color: #fff !important;
}
.el-menu--vertical .el-menu-item.is-active {
  color: #fff !important;
  background-color: #b68c5a !important;
}

.area-img {
  height: 400px;
}
.area-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.area-description h1 {
  color: #162542;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.pagination ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.pagination ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: #b68c5a;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}
.pagination ul li:hover {
  background-color: #162542;
}

.item {
  position: relative;
}
.item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 5px;
}
.item button {
  color: #ebedef;
  opacity: 0.9;
}
.item button i {
  position: relative;
  z-index: -10;
}
.item td strong {
  display: none;
}

.mail-item {
  position: relative;
  max-height: 200px;
  margin: 20px 10px;
  overflow: hidden;
}
.mail-item h2 {
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mail-item button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.mail-item:hover button {
  display: block;
}

.mail-info {
  height: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 2px;
}

.uploadImg {
  width: 150px;
  height: 150px;
  margin: auto;
  position: relative;
}
.uploadImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  border-radius: 50%;
}
.uploadImg label {
  position: absolute;
  bottom: 0;
  right: 0;
}
.uploadImg label a {
  color: rgb(255, 255, 255);
}

.upload-images {
  height: 150px;
  min-width: 150px;
}
.upload-images label {
  position: relative;
  width: 100%;
  height: 100%;
  border: #b68c5a 5px dashed;
  cursor: pointer;
}

.upload-image {
  height: 150px;
  min-width: 150px;
  position: relative;
}
.upload-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.upload-image .deleteImg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e55353;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #ebedef;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .el-carousel__container {
    min-height: 50vh;
  }
  .carousel-cover {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .carousel-item-content {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .carousel-item-content h3 {
    font-size: 2rem;
  }
  .new-navbar-logo img {
    position: relative;
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  .mobileOptions {
    display: block;
  }
  .filter-options {
    background-color: #fff;
    position: fixed;
    left: -100%;
    width: 40%;
    top: 0;
    z-index: 9999;
    height: 100vh;
    transition: 0.3s;
    overflow: hidden;
    overflow-y: auto;
  }
  .filter-options.active {
    left: 0;
  }
}
@media screen and (min-width: 992px) {
  .tmobilefoot {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .new-header-item-login {
    display: none !important;
  }
  #btnNav {
    display: flex !important;
  }
  .section-about-content h2, .section-service h2, .section-team h2, .section-blog h2 {
    font-size: 3rem;
  }
  .page-cover-content h3 {
    text-align: center;
    font-size: 3rem;
  }
  .testimonial-titles h2 {
    font-size: 3rem;
  }
  .new-navbar-links {
    display: none;
  }
  header {
    background-color: #fff;
    position: fixed;
    min-width: 100% !important;
    top: 0;
    left: 0;
    z-index: 40;
  }
  .main--show .show--text {
    width: 100%;
    height: 50vh;
  }
  .main--show .show--text .text-title {
    font-size: 2rem;
  }
  .main--show .show--img {
    width: 100%;
    height: 50vh;
  }
  .main--show .show--img img {
    min-height: 50vh;
  }
  .logo {
    display: none;
  }
  .icon-mobile {
    display: block;
  }
  #btnNav {
    display: block;
  }
  .nav--links:nth-of-type(1) {
    display: none;
  }
  .nav--links:nth-of-type(2) .btn {
    display: none;
  }
  .slider_description {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-img {
    height: 350px !important;
  }
  .section-about-content h2, .section-service h2, .section-team h2, .section-blog h2 {
    font-size: 2.5rem;
  }
  .testimonial {
    height: 800px !important;
  }
  .testimonial-titles {
    text-align: center !important;
  }
  .testimonial-titles h2 {
    font-size: 2rem;
  }
  .el-menu-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .table-cart thead {
    display: none;
  }
  .table-cart tbody tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .table-cart tbody tr td a {
    text-align: center;
  }
  .cartbar--elements {
    width: 100%;
  }
  .navmobile--elements {
    width: 100%;
  }
}
* {
  font-family: "Open Sans", serif;
}

.el-input__wrapper {
  height: auto;
}

.el-input__wrapper, .el-input__wrapper.is_focus, .el-textarea__inner {
  border-radius: 0;
  box-shadow: none !important;
}

.progress-bar {
  background-color: #b68c5a;
}

.form-select {
  border: 0.5px solid #BFBDC1;
  margin: 0 1px;
}
.form-select:focus {
  outline: none;
  box-shadow: 0 0 0 transparent !important;
  border: 0.5px solid #BFBDC1;
}

.form-control {
  border: 0.5px solid #BFBDC1;
  margin: 0 1px;
}
.form-control:focus {
  outline: none;
  box-shadow: 0 0 0 transparent !important;
  border: 0.5px solid #BFBDC1;
}

.toast-container {
  z-index: 9999;
}

a {
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.accordion-item {
  background-color: #fff;
  border: none;
}

.accordion-button {
  padding: 10px;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  color: #000;
  background-color: #FFF;
  box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-body {
  padding: 5px 0 5px 5px;
}
.accordion-body a, .accordion-body a:hover, .accordion-body a:focus, .accordion-body a:active {
  text-decoration: none;
  color: #000;
}

.accordion-button:focus {
  border: none;
  outline: none;
  box-shadow: none;
  color: #b68c5a;
  border-color: rgba(0, 0, 0, 0.125);
}

.list-group-item {
  border: none;
}

.accordion-header {
  position: relative;
}
.accordion-header a {
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 3;
}

.btn {
  border-radius: 0;
  border: none;
  transition: all 0.2s ease-in;
}
.btn:hover {
  transition: all 0.2s ease-in;
  color: #162542 !important;
  background-color: #fff !important;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.dropdown-toggle .dropdown-icon {
  transition: 0.3s ease;
}

.dropdown-toggle.show .dropdown-icon {
  transform: rotate(180deg);
  transition: 0.3s ease;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  background-color: #fff;
  border: none;
}
.dropdown-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #b68c5a;
  height: 100%;
  width: 1px;
}

.dropdown-item:hover {
  background-color: transparent;
}

hr {
  margin: 0;
}

#product-tab li button {
  padding: 1.5rem;
  background-color: transparent;
  color: #162542;
  position: relative;
  font-size: 1.2rem;
  font-weight: bold;
}
#product-tab li button.active {
  background-color: transparent;
  color: #162542;
}
#product-tab li button.active::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  content: " ";
  background-color: #b68c5a;
}

p iframe {
  width: 100%;
  min-height: 500px;
}/*# sourceMappingURL=style.css.map */