@import "mixin";
.blog-aside{
    .el-input__wrapper{
        background-color: $light;
    }
    ul{
        li{
            .el-link{
                color:$color2;
            }
        }
    }
}
.blog{
    .blog-img{
        height: 500px;
    }
}
.blog-card{
    h3,h2{color:$color2;transition: all 0.2s ease-in;}
    &:hover{
        h3,h2{color:$color1;transition: all 0.2s ease-in;}
    }
}
.blog-img{
    height: 350px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.blog-detail{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    img{
        border-radius: 50%;
        width: 50px !important;
        height: 50px !important;
    }
}