@import "mixin";

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1280px){
    .el-carousel__container{
        min-height: 50vh;
    }
    .carousel-cover{
        object-fit: cover;
        height: 100%;
    }
    .carousel-item-content{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        h3{
            font-size: 2rem;
        }
    }
    .new-navbar-logo{
        img{
            position: relative;
            width: 200px;
            object-fit: cover;
            height: auto;
        }
    }
    .new-contact-navbar{
        .el-link{
            font-size: 1rem !important;
        }
    }
    .mobileOptions{
        display: block;
    }
    .filter-options{
        background-color: #fff;
        position: fixed;
        left:-100%;
        width: 40%;
        top:0;
        z-index: 9999;
        height: 100vh;
        transition: 0.3s;
        overflow: hidden;
        overflow-y: auto;
    }.filter-options.active{
        left:0;
    }
}
@media screen and (max-width: 1024px){
    
    .new-info-navbar,.new-contact-navbar,.new-header div{
        margin-right: $spacer*2 !important;
         margin-left: $spacer*2 !important;
    }
}
@media screen and (min-width:992px){
    
    .tmobilefoot{
        display: none;
    }
}
@media screen and (max-width: 992px){
    #loginBtnNav{
        display: none;
    }
    .el-menu-item {
        border: 0px solid transparent;
        font-size: 1em;
        color: #fff !important;
        background-color: #fff !important;
    }
    .new-header{
        background-color: $color4 !important;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-right: $spacer*1 !important;
            margin-left: $spacer*1 !important;
        }
    }
    .new-navbar-logo-mobile{
        display: block;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .new-info-navbar,.new-contact-navbar{
        display: none !important;
    }
    .new-header-item-login{
        display: none !important;
    }
    #btnNav{
        display: flex !important;
    }
    .section-about-content,.section-service,.section-team,.section-blog{
        h2{
            font-size: 3rem;
        }
    }
    .page-cover-content{
        h3{
            text-align: center;
            font-size: 3rem;
        }
    }
    .testimonial-titles{
        h2{font-size: 3rem};
    }
    .new-navbar-links{
        display: none;
    }
    header{
        background-color: $color4;
        position: fixed;
        min-width: 100% !important;
        top: 0;
        left: 0;
        z-index: 40;
    }
    .main--show{
        .show--text{
            width: 100%;
            height: 50vh;
            .text-title{
                font-size: 2rem;
            }
        }
        .show--img{
            width: 100%;
            height: 50vh;
            img{
                min-height: 50vh;
            }
        }
    }
    .logo{
        display: none;
    }
    .icon-mobile{
        display: block;
    }
    #btnNav{
        background-color: $color4 !important;
        border: none !important;
        display: block;
        i{
            color: $color2 !important;
        }
    }
    .nav--links{
        &:nth-of-type(1){
            display: none;
        }
        &:nth-of-type(2){
            .btn{
                display: none;
            }
        }
    }
    .slider_description{
        width: 90%;
    }
}
@media screen and (max-width: 768px){
    
    
}
@media screen and (max-width: 576px){ 
    .contact-form{
        height: auto;
    }
    .blog-img{
        height: 350px !important;
    }
    .section-about-content,.section-service,.section-team,.section-blog{
        h2{
            font-size: 2.5rem;
        }
    }
    .testimonial{
        height: 800px !important;
    }
    .testimonial-titles{
        text-align: center !important;
        h2{font-size: 2rem};
    }
    
    .el-menu-item{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .table-cart{
        thead{
            display: none;
        }
        tbody{
            tr{
                td{
                    a{
                     text-align: center;   
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .cartbar--elements{
        width: 100%;
    }
    .navmobile--elements{
        width: 100%;
    }
}
@media screen and (max-width: 540px){ 

}