$color1:#b68c5a;
$color2:#162542;
$color3:#777777;
$color4:#fff;
$color5: #BFBDC1;
$color6: #F5F2EA;

$primary:#b68c5a;
$secondary:#162542;
$success: #2eb85c;
$danger:#e55353;
$warning:#f9b115;
$info:#3399ff;
$light:#ebedef;
$dark:#777777;
$black:#000;
$font-size-base:1rem;
$spacer:1rem;
@mixin textColor($color:$color2){
    color:$color !important;
}
@mixin bgColor($bg:$color2){
    background-color: $bg !important;
}