@import "mixin";
#btnNav{
    display: none;
}
#closeNav{
    cursor: pointer;
}
.new-header{
    position: sticky;
    top: 0;
    z-index: 30;
}
.new-navbar-links{
    display: flex;
}
.new-navbar{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bgColor($color2);
    @include textColor($color4);
    padding: 0;
    margin: 0;
}
.new-contact-navbar{
    .el-link{
        color: $color4;
    }
}
.new-contact-navbar,.new-info-navbar{
    margin-right: $spacer*15 !important;
    margin-left: $spacer*15 !important;
}
.new-navbar-logo{
    height: 100%;
    display: flex;
    position: relative;
    img{
        position: relative;
        width: 120px;
        object-fit: cover;
        height: auto;
    }
}
.el-menu--horizontal.el-menu{
    border: none;
}
.el-menu{
    height: 100%;
    @include bgColor($color2);
    @include textColor($color4);
}
.el-menu-item,.el-menu--horizontal>.el-menu-item{
    border: none;
    font-size: 1em;
    .el-link{
       font-size: 1em !important; 
    }
    @include textColor($color4);
    &:hover{
        @include bgColor($color2);
        @include textColor($color1);
    }
    
}
.el-menu-item.is-active,.el-menu--horizontal>.el-menu-item.is-active{
    @include bgColor($color2);
    @include textColor($color1);
    border: none;
}
.el-sub-menu{
    @include bgColor($color2);
    .el-sub-menu__title{
        font-size: 1em;
        @include textColor($color4);
        &:hover{
            @include bgColor($color2);
            @include textColor($color1);
        }
    }
}
.el-menu.el-menu--popup{
    @include bgColor($color4);
    .el-menu-item{
        .el-link{
            width: 100%;
            justify-content: start;
            @include textColor($color2);
        }
        font-size: 1.2em;
        @include textColor($color2);
        &:hover{
            @include bgColor($color1);
            @include textColor($color4);
            .el-link{
                @include textColor($color4);
            }
        }
    }
}