@import "mixin";
.review-stars{
    i{
        font-size: 0.75rem;
        color:$color1;
    }
}
.review-measure{
    i{
        font-size: 1rem;
        color:$color1; 
    }
}
.review-rate{
    button{
        background-color: unset;
        border: none;
        color: $color1;
    }
}
.comment-list{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    .comment-info{
        height: 50px;
        img{
            border-radius: 50%;
            height: 100%;
        }
    }
}
.content-site{
    padding: 0 7rem;
}
.content-description{
    img{
        max-width: 100%;
        height: auto;
    }
    p{
        font-size: 18px;
    }
    ul{
        font-size: 18px;
    }
    ol{
        font-size: 18px;
    }
}
.payment__methods{
    border-radius: 10px;
    border: 1px solid $color2;
    text-align: center;
    ul{
        padding: 0 10px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 40px;
            width: 40px;
        }
        li{
            padding: 0 0.5rem;
        }
    }
}