@import "mixin";
.team-card{
    position: relative;
    margin-bottom: 30px;
    margin-left:10px;
    margin-right:10px;
    &:hover{
        h4{
            color:$color1 !important;
            transition: all 0.3s ease;
        }
    }
}
.team-img{
    height: 330px;
    overflow: hidden;
    img{
        width: 100%;
    }
}
.team-info{
    position: relative;
    width: 80%;   
    background-color: $color4;
    bottom:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}